body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Faster One', cursive;
    color: white;
}

.navbar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.newgame {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    float: right;
    margin: 30px;
}

.playername {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    display: inline-block;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secretnumber {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 100px;
    border: 2px solid white;
    margin: 0px;
    border-radius: 20px;
    padding: 2px;
    width: 200px;
}
.result{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 100px;
    margin-top: 10px;
}

.footer {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.plives, .score-track {
    float: right;
    text-align: right;
    display: block;
    margin: 0px;
}

.input-text {
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    font-family: 'Faster One', cursive;
}

.btn {
    margin: 10px;
    width: 150px;
    height: 43px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
    font-family: 'Faster One', cursive;
    
}

.nav-btn {
    margin: 10px;
    width: 150px;
    height: 64px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
    font-family: 'Faster One', cursive;
    background-color: black;
    color: white;
}